@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'brush_script';
	src: url('https://www.eaglegranite.com/Designer/fonts/BrushScriptStd.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/BrushScriptStd.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/BrushScriptStd.otf') format('opentype');
}

@font-face {
	font-family: 'century';
	src: url('https://www.eaglegranite.com/Designer/fonts/CENTURY.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/CENTURY.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/CENTURY.TTF') format('truetype');
}

@font-face {
	font-family: 'cloister_black';
	src: url('https://www.eaglegranite.com/Designer/fonts/CloisterBlack.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/CloisterBlack.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/CloisterBlack.TTF') format('truetype');
}

@font-face {
	font-family: 'dancing_script';
	src: url('https://www.eaglegranite.com/Designer/fonts/Dancing Script.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/Dancing Script.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/Dancing Script.ttf') format('truetype');
}

@font-face {
	font-family: 'gothic';
	src: url('https://www.eaglegranite.com/Designer/fonts/GOTHIC.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/GOTHIC.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/GOTHIC.TTF') format('truetype');
}

@font-face {
	font-family: 'gothic_bold';
	src: url('https://www.eaglegranite.com/Designer/fonts/GOTHICB.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/GOTHICB.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/GOTHICB.TTF') format('truetype');
}

@font-face {
	font-family: 'gothic_bold_italic';
	src: url('https://www.eaglegranite.com/Designer/fonts/GOTHICBI.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/GOTHICBI.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/GOTHICBI.TTF') format('truetype');
}

@font-face {
	font-family: 'gothic_italic';
	src: url('https://www.eaglegranite.com/Designer/fonts/GOTHICI.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/GOTHICI.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/GOTHICI.TTF') format('truetype');
}

@font-face {
	font-family: 'plateia_bold';
	src: url('https://www.eaglegranite.com/Designer/fonts/Plateia Bold.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/Plateia Bold.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/Plateia Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'tsisquilisda';
	src: url('https://www.eaglegranite.com/Designer/fonts/TSISQUILISDA.woff2') format('woff2'),
	url('https://www.eaglegranite.com/Designer/fonts/TSISQUILISDA.woff') format('woff'),
	url('https://www.eaglegranite.com/Designer/fonts/TSISQUILISDA.ttf') format('truetype');
}

@media all {
	#synoptive-container {
		position: relative;
		width: 100%;
		min-height: 400px;
		/* font-family: sans-serif; */
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		color: #000000;
	}

	#synoptive-container .loading_image {
		display: block;
		position: absolute;
		width: 40px;
		height: 40px;
		left: 50%;
		margin-left: -20px;
		top: 50%;
		margin-top: -20px;
		background-image: url('/synoptive.app/images/loading.gif');
		background-repeat: no-repeat;
		z-index: 10;
	}

	#synoptive-container :focus {
		outline: none;
	}

	#synoptive {
		overflow: visible;
		/* background-color: #000000; */
		font-weight: 500;
		line-height: normal;
		font-size: 16px;
		text-decoration: none;
		outline: none;
		width: 100%;
		color: #FFFFFF;
		/* padding: 10px; */
	}

	#synoptive .main_panel {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	#synoptive .clear {
		clear: both;
	}

	#synoptive .collapsed {
		display: none;
	}

	#synoptive .empty {
		display: none;
	}

	#synoptive .header_panel_container > .header_panel {

	}

	#synoptive .stage_navigation_panel {
		margin-left: 15px;
	}

	#synoptive .stage_navigation_panel .header_panel {
		padding: 10px;
	}

	#synoptive .stage_navigation_panel .header_image {

	}

	#synoptive .stage_navigation_panel .header_text {

	}

	#synoptive .progress_panel {
		position: relative;
		padding: 10px;
	}

	#synoptive .back_widget_panel {
		float: left;
	}

	#synoptive .stage_panel {
		display: inline;
		margin-right: 10px;
		cursor: pointer;
	}

	#synoptive .stage_name {
		display: inline;
	}

	#synoptive .stage_image {
		display: inline;
	}

	#synoptive .stage_panel.current {
		border: none;
	}

	#synoptive .stage_panel.completed {

	}

	#synoptive .stage_panel.disabled {
		cursor: default;
	}

	#synoptive .stage_panel.disabled .stage_name {

	}

	#synoptive .stage_panel.disabled .stage_image {

	}

	#synoptive .stage_navigation_panel .action_panel {
		position: absolute;
		right: 0;
		cursor: pointer;
	}

	#synoptive .action_panel.disabled {
		color: #777777;
		cursor: default;
	}

	#synoptive .next_stage_button {
		color: #333333;
		cursor: pointer;
	}

	#synoptive .next_stage_button.disabled {
		color: #777777;
		cursor: default;
	}

	#synoptive .direction_navigation_panel {
		margin-left: 5px;
		margin-bottom: 5px;
		width: 220px;
		text-align: center;
		position: relative;
	}

	#synoptive .direction_navigation_widget {
		display: block;
		color: #777777;
		font-weight: bold;
		cursor: pointer;
		border-bottom: 1px solid transparent;
	}

	#synoptive .direction_navigation_widget:hover {
		border-bottom: 1px dotted #777777;
		cursor: pointer;
	}

	#synoptive .reset_widget_panel {

	}

	#synoptive .reset_widget_panel.disabled {
		cursor: default;
	}

	#synoptive .reset_widget {
		margin-left: auto;
		margin-right: auto;
	}

	#synoptive-container .powered_by_panel {
		position: absolute;
		bottom: 5px;
		left: 5px;
		font-size: 12px;
		clear: left;
	}

	#synoptive-container .powered_by_label {
		display: inline;
		color: #FFFFFF;
	}

	#synoptive-container .name_label {
		display: inline;
		color: #FFFFFF;
		cursor: pointer;
	}

	#synoptive .powered_by_panel {
		position: static;
		font-size: 12px;
		text-align: right;
		margin-right: 10px;
		clear: left;
		margin-top: 15px;
	}

	#synoptive .toggle {
		/* border-bottom: 1px solid #aaaaaa; */
	}

	#synoptive .prev_button {
		margin-right: 10px;
		cursor: pointer;
	}

	#synoptive .tab_handles {
		/* display: inline-block; */
	}

	#synoptive .tab_handle {
		/* display: inline-block; */
		cursor: pointer;
		/* margin-right: 10px; */
		border: none;
		border-bottom: none;
		margin-bottom: 1px;
		height: auto;
		position: relative;
		/* background-color: black; */
		padding: 20px 26px 16px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		/* transition: background-color 0.3s linear; */
	}

	#synoptive .tab_handle .tab_label {
		font-size: 14px;
		line-height: 1.125;
		color: #787878;
		text-align: center;
		display: block;
	}

	#synoptive .tab_handle:hover {
		background: #0F141D;
	}

	#synoptive .tab_handle.selected {
		background: #0F141D;
		/* font-weight: bold; */
		/* top: 1px; */
		/* border: 1px solid #aaa; */
		/* border-bottom: none; */
	}

	#synoptive .tab_handle.selected:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		background: #CCB994;
		width: 20px;
		height: 1px;
		/* margin-right: 10px; */
		/*margin-bottom: 4px;*/
		/* margin-left: -34px; */
	}

	#synoptive .tab_handle.selected .tab_label {
		/* font-size: 14px; */
		/*font-family: 'cloister_black', Times New Roman, Times, serif;*/
		color: #CCB994;
	}

	#synoptive .tab_handle.completed {

	}

	#synoptive .tab_contents .tab_handles {
		border-top: 1px solid #CCB994;
		border-bottom: 1px solid #CCB994;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	#synoptive .tab_contents .tab_handle {
		margin: 0;
		flex-grow: 1;
		width: 50%;
	}

	#synoptive .tab_contents .tab_handle .tab_label {
		color: #CCB994;
		font-size: 16px;
		line-height: 1.2;
		/*font: 16px/1.2 'cloister_black', Times New Roman, Times, serif;*/
	}

	#synoptive .tab_contents .tab_handle.selected {
		background: #CCB994;
	}

	#synoptive .tab_contents .tab_handle.selected .tab_label {
		color: #fff;
	}

	#synoptive .tab_contents .tab_handle:before {
		display: none;
	}

	#synoptive .tab_contents .tabs .tab_handles {
		border-top: none;
		border-color: #393B41;
	}

	#synoptive .tab_contents .tabs .tab_handle {
		width: auto;
		padding: 13px 5px;
	}

	#synoptive .tab_contents .tabs .tab_handle .tab_label {
		color: #787878;
		font-size: 14px;
		line-height: 1.2;
		/* font: 14px/1.2 "Open Sans", Arial, sans-serif; */
	}

	#synoptive .tab_contents .tabs .tab_handle.selected {
		background: none;
	}

	#synoptive .tab_contents .tabs .tab_handle.selected:before {
		display: block;
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;
		height: 2px;
		margin: 0;
	}

	#synoptive .tab_contents .tabs .tab_handle.selected .tab_label {
		color: #fff;
	}

	#synoptive .tab_contents .tabs .tab.tab-images-2-image_1-components-step,
	#synoptive .tab_contents .tabs .tab.tab-images-2-image_2-components-step {
		padding: 20px;
	}

	#synoptive .tab_contents .tabs .tab.tab-images-2-image_1-components-step .tab_handles,
	#synoptive .tab_contents .tabs .tab.tab-images-2-image_2-components-step .tab_handles {
		background: #2F303C;
		border: none;
		display: block;
		border-top: 1px solid #434343;
		max-height: 401px;
		overflow-y: auto;
	}

	#synoptive .tab_contents .tabs .tab.tab-images-2-image_1-components-step .tab_handle,
	#synoptive .tab_contents .tabs .tab.tab-images-2-image_2-components-step .tab_handle {
		display: block;
		padding: 13px 30px 13px 20px;
		border-bottom: 1px solid #434343;
	}

	#synoptive .tab_contents .tabs .tab.tab-images-2-image_1-components-step .tab_handle:before,
	#synoptive .tab_contents .tabs .tab.tab-images-2-image_2-components-step .tab_handle:before {
		width: 13px;
		height: 8px;
		background: url(https://gitlab.com/bibekrimal/memorial-design/raw/master/icon-check.svg) no-repeat;
		background-size: 100% auto;
		top: 0;
		right: 10px;
		bottom: 0;
		left: auto;
		margin: auto;
	}

	#synoptive .tab_contents .tabs .tab.tab-images-2-image_1-components-step .tab_label,
	#synoptive .tab_contents .tabs .tab.tab-images-2-image_2-components-step .tab_label {
		text-align: left;
		font-size: 12px;
		line-height: 1.125;
	}

	#synoptive .tab_contents .tabs .tab.tab-images-2-image_1-components-step .tab_handle:hover,
	#synoptive .tab_contents .tabs .tab.tab-images-2-image_2-components-step .tab_handle:hover {
		background: none;
	}

	#synoptive .tab_contents .tabs .tab.tab-images-2-image_1-components-step .tab_handle:hover .tab_label,
	#synoptive .tab_contents .tabs .tab.tab-images-2-image_2-components-step .tab_handle:hover .tab_label {
		color: #fff;
	}

	#synoptive .tab_contents .tabs .tab.tab-images-2-image_1-components-step .tab_handle.selected,
	#synoptive .tab_contents .tabs .tab.tab-images-2-image_2-components-step .tab_handle.selected {

	}

	#synoptive .tabs {
		/* border: 1px solid #aaaaaa; */
		border-top: none;
		clear: left;
	}

	#synoptive .accordion {
		/* border-bottom: 1px solid #aaaaaa; */
	}

	#synoptive .accordion .accordion_section {
		width: 100%;
		border: none;
		margin: 0;
	}

	#synoptive .accordion .accordion_section td {
		padding: 0;
		border: none;
	}

	#synoptive .accordion_section a.header {
		text-decoration: none;
	}

	#synoptive .accordion .accordion_header {
		/* padding: 5px; */
		/* border-top: 1px solid #aaaaaa; */
		text-decoration: none;
		color: #ddd;
	}

	#synoptive .accordion .accordion_header .accordion_label {
		padding: 12px 10px;
		text-align: center;
		color: #797979;
		font-weight: bold;
		/* margin-bottom: 10px; */
	}

	#synoptive .search_note {
		display: none;
	}

	#synoptive .accordion_section-open .search_note {
		display: inline-block;
		margin-left: 1em;
		font-weight: bold;
		color: white;
	}

	.tooltip_popup {
		margin-left: 10px;
		margin-top: 20px;
		cursor: pointer;
	}

	.tooltip {
		position: relative;
		padding: 5px;
		padding-top: 3px;
		z-index: 10;
		background-color: white;
		color: #555555;
		border: none;
		cursor: pointer;
	}

	.dialog_glass {
		background-color: #000000;
		opacity: 0.3;
		z-index: 11;
	}

	.message_box {
		z-index: 12;
	}

	.message_box .Caption {
		background: #ebebeb url(/synoptive/images/hborder.png) repeat-x 0px -2003px;
		padding: 4px 4px 4px 8px;
		cursor: default;
		border-bottom: 1px solid #bbbbbb;
		border-top: 5px solid #e3e3e3;
	}

	.message_box .dialogContent {

	}

	.message_box .dialogMiddleCenter {
		padding: 3px;
		background: white;
	}

	.message_box .dialogBottomCenter {
		background: url(/synoptive/images/hborder.png) repeat-x 0px -4px;
		-background: url(/synoptive/images/hborder_ie6.png) repeat-x 0px -4px;
	}

	.message_box .dialogMiddleLeft {
		background: url(/synoptive/images/vborder.png) repeat-y;
	}

	.message_box .dialogMiddleRight {
		background: url(/synoptive/images/vborder.png) repeat-y -4px 0px;
		-background: url(/synoptive/images/vborder_ie6.png) repeat-y -4px 0px;
	}

	.message_box .dialogTopLeftInner {
		width: 5px;
		zoom: 1;
	}

	.message_box .dialogTopRightInner {
		width: 8px;
		zoom: 1;
	}

	.message_box .dialogBottomLeftInner {
		width: 5px;
		height: 8px;
		zoom: 1;
	}

	.message_box .dialogBottomRightInner {
		width: 5px;
		height: 8px;
		zoom: 1;
	}

	.message_box .dialogTopLeft {
		background: url(/synoptive/images/corner.png) no-repeat -13px 0px;
		-background: url(/synoptive/images/corner_ie6.png) no-repeat -13px 0px;
	}

	.message_box .dialogTopRight {
		background: url(/synoptive/images/corner.png) no-repeat -18px 0px;
		-background: url(/synoptive/images/corner_ie6.png) no-repeat -18px 0px;
	}

	.message_box .dialogBottomLeft {
		background: url(/synoptive/images/corner.png) no-repeat 0px -15px;
		-background: url(/synoptive/images/corner_ie6.png) no-repeat 0px -15px;
	}

	.message_box .dialogBottomRight {
		background: url(/synoptive/images/corner.png) no-repeat -5px -15px;
		-background: url(/synoptive/images/corner_ie6.png) no-repeat -5px -15px;
	}

	.message_box .dialogTopLeftInner {
		width: 5px;
		overflow: hidden;
	}

	.message_box .dialogTopRightInner {
		width: 8px;
		overflow: hidden;
	}

	.message_box .dialogBottomLeftInner {
		width: 5px;
		height: 8px;
		overflow: hidden;
	}

	.message_box .dialogBottomRightInner {
		width: 8px;
		height: 8px;
		overflow: hidden;
	}

	#flowplayer {
		display: none;
		/* without overflow set to hidden, fancybox will show unneeded scrollbars */
		overflow: hidden;
	}

	#gallery {
		display: none;
	}

	#main-content {
		background-color: #2C3039;
		padding-top: 58px;
	}

	#main-content .container {
		max-width: 1200px;
		width: 100%;
		padding: 0 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.main_title {
		display: none;
	}

	#synoptive .share_panel li {
		display: inline;
	}

	#synoptive .share_button {
		background: url('/synoptive/images/share/share_icons.gif') no-repeat;
		overflow: hidden;
		display: inline-block;
		height: 16px;
		width: 16px;
		line-height: 16px;
		cursor: pointer;
	}

	#synoptive .share_button_facebook {
		background-position: 0 -272px;
	}

	#synoptive .share_button_twitter {
		background-position: 0 -832px;
	}

	#synoptive .share_button_pinterest {
		background-position: 0 -656px;
	}

	#synoptive .share_button_tumblr {
		background-position: 0 -816px;
	}

	#synoptive .share_button_email {
		background-position: 0 -256px;
	}

	#synoptive .share_button_any {
		background-position: 0 -528px;
	}

	#synoptive .questions_panel_container {
		display: none;
	}

	#synoptive .questions_panel {
		position: relative;
		display: block;
		padding: 5px;
	}

	#synoptive .questions_panel .header_panel {
		display: none;
	}

	#synoptive .question_panel {
		overflow: hidden;
		width: 100%;
	}

	#synoptive .question_label {
		font-weight: bold;
		color: #555555;
	}

	#synoptive .options_panel {
		margin-bottom: 3px;
		/* floated left to get shrink-wrapped border for mouse out events */
		float: left;
		margin-left: 10px;
	}

	#synoptive .options_panel.collapsed {
		display: none;
	}

	#synoptive .event_panel {
		display: inline;
	}

	#synoptive .options_panel-grid {
		display: inline-block;
	}

	#synoptive .option_panel {

	}

	#synoptive .option_panel:hover {
		cursor: pointer;
	}

	#synoptive .checkbox-option_panel {
		display: inline-block;
		margin: 0 3px;
		margin-top: -1px;
	}

	#synoptive .option_image_panel {
		border: 2px solid transparent;
	}

	#synoptive .option_image {
		width: 30px;
		height: 30px;
		outline: none;
		-moz-user-focus: none;
		-moz-outline: none;
	}

	#synoptive .option_panel .input_container {
		display: inline;
	}

	#synoptive .option_panel .input_label {
		display: inline;
	}

	#synoptive .option_label {
		display: inline;
		color: #333333;
		border-bottom: 1px solid transparent;
		outline: none;
		-moz-user-focus: none;
		-moz-outline: none;
	}

	#synoptive .option_panel-hover .option_label {
		color: black;
		border-bottom: 1px dotted #777777;
	}

	#synoptive .option_panel-hover .option_image_panel {
		margin: 1px;
		border: 1px solid #555555;
	}

	#synoptive .option_panel.selected .option_label {
		color: #555555;
		font-weight: bold;
	}

	#synoptive .option_panel.selected .text_box {
		border: 2px solid #555555;
	}

	#synoptive .option_panel.selected .option_image_panel {
		margin: 0px;
		border: 2px solid #555555;
	}

	#synoptive .option_panel.disabled .option_label {
		color: #999999;
	}

	#synoptive .option_panel-disabled:hover {
		cursor: default;
	}

	#synoptive .option_panel-disabled:hover .option_label {
		color: #999999;
	}

	#synoptive .option_panel-disabled:hover .option_image_panel {

	}

	.confirm_override_popup {
		padding: 10px;
		z-index: 1;
		background-color: white;
		color: #555555;
		border: 1px solid grey;
	}

	.confirm_override_popup .confirm_text {
		color: grey;
	}

	.confirm_override_popup .button_panel {
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		text-align: center;
	}

	.confirm_override_popup .button {
		border: 1px solid grey;
		background-color: white;
		color: #777777;
		margin-right: 10px;
	}

	#synoptive .composite_solution_panel {
		position: relative;
		display: inline-block;
		width: 50%;
		/* margin-bottom: 20px; */
		min-width: 250px;
		max-width: 602px;
		padding: 15px;
		background: #21232c;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		flex-grow: 0;
		flex-shrink: 0;
	}

	#synoptive .composite_views {
		/* position: sticky; */
		top: 0;
		z-index: 10;
	}

	#synoptive .composite_views .action_label {

	}

	#synoptive .composite_view_tabs {
		position: relative;
		/* border-top: 1px solid #aaa; */
	}

	#synoptive .composite_views .tabs-single_tab {

	}

	#synoptive .composite_views .image_map {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}

	#synoptive .composite_views .image_map .glass_image, #synoptive .composite_views .map_overlay_images .image {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
	}

	#synoptive .composite_views .image_map .glass_image {
		width: 100%;
		height: 100%;
		z-index: 101;
	}

	#synoptive a.view_zoom_anchor {

	}

	#synoptive .composite_solution_panel .custom_panel {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}

	#synoptive .view_layers_container {
		position: relative;
	}

	#synoptive .view_layers_container:before {
		content: "";
		display: block;
		padding-top: 100%;
	}

	#synoptive .view_layers {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	#synoptive .view_layer {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	#synoptive .layer_image {
		border: none;
		width: auto;
		position: relative;
		max-width: 100%;
	}

	#synoptive .composite_solution_panel .action_panel {
		display: none;
		border-bottom: 1px solid transparent;
		padding: 20px 30px;
		background-color: white;
		color: black;
		margin: 20px 0 0 auto;
		cursor: pointer;
		width: 120px;
		font-weight: bold;
		text-align: center;
	}

	#synoptive .composite_solution_panel .action_panel:hover {

	}

	#synoptive .composite_solution_panel .action_panel.disabled {
		cursor: default;
	}

	#synoptive .composite_solution_panel .action_panel-disabled:hover {

	}

	#synoptive .share_panel {
		z-index: 1;
	}

	#synoptive .share_panel ul {
		list-style: none;
	}

	#synoptive .share_panel li {
		display: inline;
	}

	#synoptive .line_item_summary {
		position: relative;
		margin-top: 10px;
		display: none;
	}

	#synoptive .part_line_items {
		margin: 2px 0;
	}

	#synoptive .price {
		text-align: right;
	}

	#synoptive .total_price_label {
		float: left;
	}

	#synoptive .total_price, #synoptive .price_disclaimer {
		text-align: right;
	}

	#synoptive .discounted_price_label {
		float: left;
	}

	#synoptive .discounted_price {
		text-align: right;
	}

	#synoptive .part_line_items .header_panel .label {
		white-space: normal;
		padding: 0;
	}

	#synoptive .part_line_items .header_panel .title {
		margin-top: 20px;
		font-weight: bold;
		font-size: 1.3em;
	}

	#synoptive .line_item {

	}

	#synoptive .line_item_price {
		display: inline-block;
		text-align: right;
		width: 35%;
	}

	#synoptive .line_item_name {
		display: inline-block;
		width: 35%;
	}

	#synoptive .line_item_name:after {
		content: ":";
	}

	#synoptive .line_item_value {
		display: inline-block;
		width: 30%;
	}

	#synoptive .box_panel {
		position: relative;
		width: 100%;
	}

	#synoptive .grid .box_panel {
		display: inline-block;
		vertical-align: top;
	}

	#synoptive .grid-2 .box_panel, #synoptive .grid-3 .box_panel, #synoptive .grid-4 .box_panel {
		width: 298px;
		height: 298px;
	}

	#synoptive .grid-2 .box_panel {
		margin-top: 25%;
	}

	#synoptive .grid-5 .box_panel, #synoptive .grid-6 .box_panel, #synoptive .grid-7 .box_panel,
	#synoptive .grid-8 .box_panel, #synoptive .grid-9 .box_panel {
		width: 194px;
		height: 194px;
	}

	#synoptive .grid-5 .box_panel, #synoptive .grid-6 .box_panel {
		margin-top: 11%;
	}

	#synoptive .zoom .box_panel {
		display: none;
		margin-top: 0;
	}

	#synoptive .zoom .box_panel.zoomed {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;
	}

	#synoptive .box_panel .toggle_trigger {
		/* most apps don't use grid layouts so disable by default */
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 101;
		cursor: pointer;
	}

	#synoptive .box_panel .deselect_trigger {
		position: absolute;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		bottom: 5px;
		right: 5px;
		z-index: 102;
		cursor: pointer;
	}

	#synoptive .zoom .box_panel .deselect_trigger {
		display: none;
	}

	#synoptive .box_panel .deselect_trigger .text {
		padding: 0;
		border: 0;
		cursor: pointer;
	}

	/* depends on solution_thumbnails.css -- don't use import because all the css files get concatenated for production */
	#synoptive .scrolling_thumbnails_grid {
		position: relative;
		overflow: hidden;
	}

	#synoptive .scrolling_viewport_panel {
		position: relative;
		overflow: auto;
		padding: 5px;
		max-height: 452px;
	}

	#synoptive .step_panel .tabbed_panel.root-step > .tabs .scrolling_viewport_panel {
		/* padding: 0; */
	}

	#synoptive .step_panel.text_step {
		overflow-y: auto;
		max-height: 415px;
	}

	#synoptive .step_panel-layouts-step .header_label {
		font-style: italic;
	}

	#synoptive .scrolling_view_panel {
		height: auto;
	}

	#synoptive .step_panel .tabbed_panel.root-step > .tabs .scrolling_view_panel {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	#synoptive .step_panel-thumbnails {

	}

	#synoptive .header_panel-step_panel-thumbnails {

	}

	#synoptive .header_image-step_panel-thumbnails {

	}

	#synoptive .header_text-step_panel-thumbnails {

	}

	#synoptive .solution_thumbnail_panel {
		display: inline-block;
		text-align: center;
		overflow: hidden;
		border: none;
		padding: 10px;
		margin: 5px 5px 10px;
		/* margin-right: 10px; */
		position: relative;
		vertical-align: top;
		width: calc(50% - 10px);
		height: auto;
		border: 1px solid #2C3039;
		background: #2C3039;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		flex-grow: 0;
		flex-shrink: 0;
	}

	#synoptive .text-group .solution_thumbnail_panel {
		height: auto;
		width: auto;
	}

	#synoptive .solution_thumbnail_panel a, #synoptive .solution_thumbnail_panel a:hover,
	#synoptive .solution_thumbnail_panel a:active {
		text-decoration: none;
	}

	#synoptive .solution_thumbnail_panel:hover {
		cursor: pointer;
	}

	#synoptive .solution_thumbnail_panel.selected {
		border-color: #CCB994;
		/* margin: 4px; */
		/* margin-right: 9px; */
	}

	#synoptive .solution_thumbnail_panel.invalid {
		margin: 4px;
		margin-right: 9px;
	}

	#synoptive .text_input_solution_thumbnail_panel, #synoptive .text_input_solution_thumbnail_panel.selected,
	#synoptive .text_input_solution_thumbnail_panel.invalid {
		border: none;
		margin: 4px;
		margin-right: 9px;
		height: auto;
	}

	#synoptive .text-inputs-group .solution_thumbnail_panel {
		vertical-align: baseline;
	}

	#synoptive .text-inputs-group .text_input_solution_thumbnail_panel {
		text-align: left;
		height: auto;
		margin-top: 10px;
		width: 70%;
	}

	#synoptive .step_panel.colors-main-step .substeps_panel {
		padding: 10px;
	}

	#synoptive .step_panel.colors-main-step .scrolling_viewport_panel {
		padding: 20px 10px;
	}

	#synoptive .step_panel.colors-main-step .solution_thumbnail_panel {
		margin: 0;
		width: 33.33%;
		border: none;
		background: none;
	}

	#synoptive .step_panel.colors-main-step .solution_thumbnail_image_panel {
		width: 81px;
		height: 81px;
		margin-bottom: 5px;
		border-radius: 200px;
		overflow: hidden;
		position: relative;
		border: 4px solid transparent;
		transition: all 0.3s linear;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	#synoptive .step_panel.colors-main-step .solution_thumbnail_image_panel:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		background: url(https://gitlab.com/bibekrimal/memorial-design/raw/master/icon-check.svg) no-repeat;
		background-size: 100% auto;
		width: 21px;
		height: 14px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s linear;
	}

	#synoptive .step_panel.colors-main-step .solution_thumbnail_image {
		width: 100%;
		height: auto;
	}

	#synoptive .step_panel.colors-main-step .solution_thumbnail_label {
		font-size: 12px;
	}

	#synoptive .step_panel.colors-main-step .solution_thumbnail_panel.selected {

	}

	#synoptive .step_panel.colors-main-step .solution_thumbnail_panel:hover .solution_thumbnail_image_panel,
	#synoptive .step_panel.colors-main-step .solution_thumbnail_panel.selected .solution_thumbnail_image_panel {
		border-color: #CCB994;
	}

	#synoptive .step_panel.colors-main-step .solution_thumbnail_panel.selected .solution_thumbnail_image_panel:after {
		opacity: 1;
		visibility: visible;
	}

	#synoptive .text-inputs-group .text-color {
		position: relative;
		top: 2px;
	}

	#synoptive .text-language-language .ellipsis_label {
		display: none;
		border: none;
	}

	#synoptive .solution_thumbnail_panel .input_container {
		display: inline;
	}

	#synoptive .solution_thumbnail_panel .input_label {
		display: inline;
	}

	#synoptive .solution_thumbnail_panel input {
		border: none;
		width: 100%;
	}

	#synoptive .text-inputs-group .solution_thumbnail_panel input {
		text-transform: uppercase;
	}

	#synoptive .text-inputs-group .text-inputs-text-epitaph input {
		text-transform: none;
	}

	#synoptive .solution_thumbnail_panel.invalid input {
		border: 2px solid red;
	}

	#synoptive .solution_thumbnail_anchor {

	}

	#synoptive .ellipsis_label {
		display: block;
		/* margin-right: 5px; */
		padding: 10px 10px 5px;
	}

	#synoptive .text_input_solution_thumbnail_panel .ellipsis_label {

	}

	#synoptive .comments-comments .ellipsis_label, #synoptive .comments-comments .input_container {
		display: inline-block;
		vertical-align: middle;
	}

	#synoptive .solution_thumbnail_label {
		display: block;
		font-size: 14px;
		line-height: 1.2;
		color: #FFFFFF;
		text-overflow: ellipsis;
		max-width: 100px;
		white-space: nowrap;
		overflow: hidden;
	}

	#synoptive .step_panel.upload .solution_thumbnail_panel {
		text-align: left;
		width: 250px;
	}

	#synoptive .step_panel.upload .solution_thumbnail_label {
		max-width: none;
	}

	#synoptive .step_panel.upload .ellipsis_label {
		display: block;
		margin-bottom: 10px;
	}

	#synoptive .solution_thumbnail_panel .file_input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	#synoptive .solution_thumbnail_panel .filename {
		display: inline-block;
		margin-left: 8px;
	}

	#synoptive .file_input_label {
		cursor: pointer;
		display: inline-block;
	}

	#synoptive .sizes-step .solution_thumbnail_label {
		max-width: none;
	}

	#synoptive .step_panel .solution_thumbnail_panel.highlighted a {
		text-decoration: underline;
	}

	#synoptive .solution_thumbnail_image_panel {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 100px;
		overflow: hidden;
	}

	#synoptive .tab.tab-sizes-step .solution_thumbnail_image_panel {
		display: none;
	}

	#synoptive .images-step .solution_thumbnail_image_panel {
		background-color: lightgrey;
	}

	#synoptive .solution_thumbnail_image {
		height: 80px;
		width: auto;
		max-width: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#synoptive .images-step .solution_thumbnail_image {
		height: 40px;
	}

	#synoptive .solution_thumbnail_image_overlay {
		border: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	#synoptive .thumbnail_row_end {
		float: none;
		clear: left;
	}

	#synoptive .details_trigger {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		right: 0;
	}

	#synoptive .solutions_panel_container {
		position: relative;
		vertical-align: top;
		margin-left: 5px;
		width: calc(50% - 5px);
		/* background: #21232c; */
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-grow: 0;
		flex-shrink: 0;
	}

	#synoptive .solutions_panel_container > .solutions_panel {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-grow: 1;
	}

	#synoptive .solutions_panel > .contents {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-grow: 1;
	}

	#synoptive .welcome_panel {

	}

	#synoptive .welcome_label {
		display: block;
		color: white;
		line-height: 22px;
		width: 100%;
	}

	#synoptive .welcome_image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	#synoptive .header_panel-solutions_panel {

	}

	#synoptive .header_image-solutions_panel {

	}

	#synoptive .header_text-solutions_panel {

	}

	#synoptive .solutions_panel > .contents > .selection_panel {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-grow: 1;
	}

	#synoptive .solutions_panel > .contents > .selection_panel > .step_panel {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-grow: 1;
	}

	#synoptive .selection_panel .separator {
		float: left;
		width: 0;
		height: 0;
	}

	#synoptive .step_panel {
		/* margin-bottom: 5px; */
	}

	#synoptive .step_panel .step_panel {
		/* padding: 5px; */
	}

	#synoptive .step_panel .step_panel .nav_panels_container {
		display: none;
	}

	#synoptive .step_panel-tabs {
		position: relative;
	}

	#synoptive .step_panel-tab {
		position: relative;
	}
	
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab > .tab_contents > .step_panel-tab > .header_panel {
		background: #0F141D;
		padding: 25px 30px;
	}

	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab > .tab_contents > .step_panel-tab > .header_panel:before {
		display: block;
		font-size: 26px;
		line-height: 1.2;
		/*font: 26px/1.2 'cloister_black', Times New Roman, Times, serif;*/
		color: #CCB994;
	}

	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-pax-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Single/Companion/Family'; }
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-models-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Model'; }
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-styles-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Style'; }
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-sizes-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Size'; }
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-colors-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Colors'; }
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-layouts-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Layout'; }
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-designs-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Design'; }
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-custom-texts-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Custom Text'; }
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-images-2-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Images'; }
	#synoptive .step_panel .tabbed_panel.root-step > .tabs > .tab.tab-comments-step > .tab_contents > .step_panel-tab > .header_panel:before { content: 'Additional Comments'; }

	#synoptive .step_panel-tab .next_tab_widget {
		cursor: pointer;
	}

	#synoptive .step_panel .tabbed_panel.root-step {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-grow: 1;
	}

	#synoptive .step_panel .tabbed_panel.root-step > .toggle {
		background: #21232c;
		margin-right: 5px;
		width: 222px;
		flex-grow: 0;
		flex-shrink: 0;
	}

	#synoptive .step_panel .tabbed_panel.root-step > .tabs {
		background: #21232c;
		flex-grow: 1;
	}

	#synoptive .step_panel .tab_title {

	}

	#synoptive .step_panel .tab {

	}

	#synoptive .step_nav_panel {
		display: inline-block;
	}

	#synoptive .step_nav_button {
		cursor: pointer;
	}

	#synoptive .nav_panels_container .step_nav_panel {
		width: 50%;
	}

	#synoptive .nav_panels_container .prev_step_panel {
		text-align: left;
	}

	#synoptive .nav_panels_container .next_step_panel {
		text-align: right;
	}

	#synoptive .prev_step_panel {
		text-align: left;
	}

	#synoptive .next_step_panel {
		text-align: right;
	}

	#synoptive .solution_details_panel {
		margin-top: 30px;
		padding: 10px;
		border: none;
		clear: left;
	}

	#synoptive .details_image_panel {

	}

	#synoptive .details_image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		text-align: center;
		width: auto;
		height: 200px;
	}

	#synoptive .zoom_label {

	}

	#synoptive .details_thumbnails_panel {

	}

	#synoptive .details_thumbnail_panel {

	}

	#synoptive .details_thumbnail_image {
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 5px;
	}

	#synoptive .highlight_action_anchor {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#synoptive .details_description {
		color: #333333;
	}

	#synoptive button, #synoptive .button {
		color: #050505;
		/* 	background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 50%, #dbdbdb 50%, #b5b5b5);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		color-stop(0.50, #ebebeb), color-stop(0.50, #dbdbdb), to(#b5b5b5)); */
		border: none;
		background-color: white;
		padding: 5px 10px;
		font-size: 14px;
	}

	#synoptive button.disabled {
		color: #777777;
	}

	#synoptive .step_panel .next_step_button {
		cursor: pointer;
	}

	#synoptive .solutions_panel .shuffle_button {
		cursor: pointer;
	}

	#synoptive .custom_panel svg {
		width: 100%;
		height: 100%;
	}

	#synoptive .svgmanip-wrapper {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	#synoptive svg .select_box {
		cursor: move;
	}

	#synoptive svg .tm_handle, #synoptive svg .bm_handle {
		cursor: ns-resize;
	}

	#synoptive svg .rm_handle, #synoptive svg .lm_handle {
		cursor: ew-resize;
	}

	#synoptive svg .tl_handle, #synoptive svg .br_handle {
		cursor: nwse-resize;
	}

	#synoptive svg .bl_handle, #synoptive svg .tr_handle {
		cursor: nesw-resize;
	}

	#details_popup {
		width: 200px;
		z-index: 2;
		background-color: white;
		padding: 20px;
	}

	#details_popup .close_panel {
		cursor: pointer;
	}

	#details_popup_glass {
		background-color: black;
		opacity: .3;
		z-index: 1;
	}

	/** keyboard **/
	.ui-keyboard {
		background-color: white;
		border: 1px solid grey;
	}

	.ui-keyboard-preview {
		text-align: right;
	}

	.approval {
		width: 800px;
		display: none;
	}

	approval .line {
		display: block;
		height: 30px;
	}

	.approval .item {
		display: inline-block;
		width: 400px;
	}

	.approval .label {
		float: left;
		position: relative;
		top: 12px;
	}

	.approval .value {
		overflow: hidden;
		text-decoration: underline;
		border-bottom: 1px solid black;
		vertical-align: bottom;
		height: 30px;
	}
}

@media screen and (max-width: 660px) {
	#synoptive .composite_solution_panel {
		width: 95%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#synoptive .solutions_panel_container {
		width: 95%;
		display: block;
		margin: auto;
	}
}

@media print {
	#synoptive .solutions_panel_container {
		display: none;
	}

	#synoptive .powered_by_panel {
		display: none;
	}

	.no_print, #synoptive .pricing, #synoptive .composite_solution_panel .action_panel {
		display: none;
	}

	.approval {
		display: block;
	}
}